.productBody {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;

    &__left {
        display: grid;
        grid-template-rows: 1fr max-content;
        row-gap: 3rem;
        padding: 5rem;

        &--img {
            height: 100%;
            display: grid;
            align-items: start;


            .product-img {
                width: 100%;
                position: relative;
                z-index: 1;
            }

            .icon {
                position: absolute;
                justify-self: end;
                padding-top: 2rem;
                padding-right: 3rem;
                z-index: 10;
            }
        }

        &--desc {
            display: grid;
            row-gap: 1.5rem;

            p {
                line-height: 1.8rem;
                font-weight: 300;
            }
        }
    }

    &__content {
        // align-self: center;
        padding-top: 5rem;
        display: grid;
        // grid-auto-rows: max-content;
        grid-template-rows: 10rem min-content 20rem min-content 1fr;
        row-gap: 5rem;
        align-items: center;
        justify-content: start;

        h1 {
            align-self: end;
        }

        &--rating {
            display: grid;
            grid-template-columns: repeat(3, max-content);
            column-gap: 2rem;
            align-items: center;

            .point {
                font-weight: 600;
            }

            .review {
                border-bottom: 1px solid currentColor;
                color: $color-text-light;
            }

            .icon {
                width: 1rem;
                height: 1rem;
            }
        }

        &--info {
            display: grid;
            row-gap: 2rem;

            img {
                width: 5rem;
                height: 5rem;
                object-fit: cover;
                background-color: rgba($color-text-light, 0.1);
                border: 1px solid transparent;
                border-radius: 30rem;

                &:hover,
                &:active {
                    box-shadow: $box-shadow-light;
                    border: 1px solid currentColor;
                }

            }
        }

        &--sizing {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            column-gap: 1rem;
            align-self: start;

            p {
                border: 1px currentColor solid;
                padding: 1rem;
                text-align: center;
                transition: all .2s ease-in-out;
                cursor: pointer;

                &:hover {
                    color: $color-text-orange;
                }
            }
        }

        &--cta {
            display: grid;
            // align-self: start;
        }

    }
}