.productBody {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;

    &__left {
        display: grid;
        grid-template-rows: 1fr max-content;
        row-gap: 3rem;
        padding: 5rem;

        &--img {
            height: 100%;
            display: grid;
            align-items: start;


            .product-img {
                width: 100%;
                position: relative;
                z-index: 1;
            }

            .icon {
                position: absolute;
                justify-self: end;
                padding-top: 2rem;
                padding-right: 3rem;
                z-index: 10;
            }
        }

        &--desc {
            display: grid;
            row-gap: 1.5rem;

            p {
                line-height: 1.8rem;
                font-weight: 300;
            }
        }
    }

    &__content {
        padding-top: 5rem;
        display: grid;
        align-items: center;
        justify-content: start;

        h1 {
            align-self: end;
        }

        &--rating {
            display: grid;
            grid-template-columns: repeat(3, max-content);
            column-gap: 2rem;
            align-items: center;

            .point {
                font-weight: 600;
            }

            .review {
                border-bottom: 1px solid currentColor;
                color: $color-text-light;
            }

            .icon {
                width: 1rem;
                height: 1rem;
            }
        }

        &--info {}

        &--sizing {}

        &--cta {}

    }
}