.productBody {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;

    &__left {
        display: grid;
        grid-template-rows: 1fr max-content;
        row-gap: 3rem;
        padding: 5rem;

        &--img {
            height: 100%;
            display: grid;


            img {
                width: 100%;
                position: relative;
                z-index: 1;
            }

            i {
                font-size: 5rem;
                position: absolute;
                justify-self: end;
                padding-top: 2rem;
                padding-right: 3rem;
                color: #fdfdfd;
                z-index: 10;
            }
        }

        &--desc {
            display: grid;
            row-gap: 1.5rem;

            p {
                line-height: 1.8rem;
                font-weight: 300;
            }
        }
    }

    &__content {
        &--rating {}

        &--info {}

        &--sizing {}

        &--cta {}

    }
}