h1 {
    font-size: 2rem;
    font-weight: 600;
    color: $color-text-dark;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $color-text-medium;
}

.text {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .8px;

    &--dark {
        color: $color-text-dark;
    }

    &--medium {
        color: $color-text-medium;
    }

    &--light {
        color: $color-text-light;
    }

}

.btn {
    font-size: 1.5rem;
    border: 2px solid $color-text-dark;
    box-shadow: $box-shadow-light;
    padding: 1rem 2rem;
    text-align: center;
    transition: all ease-in-out .4s;

    &:hover,
    &:active,
    &--orange:hover,
    &--orange:active {
        color: #fdfdfd;
        background-color: $color-text-dark;
        box-shadow: $box-shadow-medium;
    }

    &--orange {
        font-size: 1rem;
        border: 1px solid transparent;
        background-color: rgb(218, 82, 33);
        color: #fdfdfd;
        padding: .2rem .7rem;
        border-radius: 2rem;
        transition: all ease-in-out .4s;
    }
}

.icon {
    height: 6rem;
    width: 6rem;

}