h1 {
    font-size: 2rem;
    font-weight: 600;
    color: $color-text-dark;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $color-text-medium;
}

.btn {
    font-size: 1.5rem;
    border: 2px solid $color-text-dark;
    padding: 1rem 2rem;
    text-align: center;
    transition: all ease-in-out .4s;

    &:hover {
        color: #fdfdfd;
        background-color: $color-text-dark;
        box-shadow: 2px 3px 8px 3px rgba($color: #000000, $alpha: .2);
    }
}